nav a{
  text-decoration: none;  
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 20px;
}
th, td {
  border: 1px solid #333;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.596); 
}
header h1{
  text-align: center;
  font-size: 100px;
  text-decoration: black double underline;
}
table{
  background-image: url("bg.png");
}
body{
  font-size: 24px;
  font-family:'Times New Roman', Times, serif;
  background-color: #C4A484 ;
}
